html {
  background: url(pic/bday.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#quote {
  line-height: 1.3cm;
  font-size: 25px;
  font-family: 'Coming Soon', cursive;
  padding-left: 30px;
  padding-top: 150px;
  font-weight: bold;
}

img {
  padding-left: 60px;
  padding-top: 150px;
  padding-right: 80px;
  padding-bottom: 50px;
}

#table {
  border-color: black;
}

#Home {
  text-align: center;
  position: relative;
  width: 10%;
	top: 120px; /* negative value of footer height */
	height: 180px;
	clear:both;
  font-family: 'Coming Soon', cursive;
  padding-left: 70px;
  padding-top: 150px;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  font-size: 24px;
}
a:visited {
  color: inherit;
}
