html {
  background: url(back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-family: 'Monoton', cursive;
}

h2 {
  font-family: 'Covered By Your Grace', cursive;
}

.nav:hover{
  cursor: pointer;
  font-size: 40px;
}

/** #first {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 50px;
  position: absolute;
  left: 300px;
  top: 350px;
  line-height: 1.2cm;
} **/

/** #second {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 50px;
  position: absolute;
  right: 300px;
  top: 350px;
  line-height: 1.2cm;
} **/

/** #birthd {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  left: 300px;
  top: 300px;
  line-height: 1.2cm;
  font-family: 'Ribeye Marrow', cursive;
}

#anni {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  left: 300px;
  top: 500px;
  line-height: 1.2cm;
}

#gwell {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  left: 300px;
  top: 700px;
  line-height: 1.2cm;
}

#congra {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  left: 300px;
  top: 900px;
  line-height: 1.2cm;
}

#birth {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  left: 300px;
  top: 1100px;
  line-height: 1.2cm;
}

#xmas {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  right: 300px;
  top: 300px;
  line-height: 1.2cm;
}

#valin {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  right: 300px;
  top: 500px;
  line-height: 1.2cm;
}

#grad {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  right: 300px;
  top: 700px;
  line-height: 1.2cm;
}

#holi {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  right: 300px;
  top: 900px;
  line-height: 1.2cm;
}

#rand {
  font-size: 30px;
  background-color: rgba(255,255,255,0.6);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  border-radius: 100px;
  position: absolute;
  right: 300px;
  top: 1100px;
  bottom: 100px
  line-height: 1.2cm;
} **/

table {
  text-align: center;
  border-top: 100px;
}

td {
  font-size: 25px;
  border-radius: 300px;
  background-color: rgba(255,255,255,0.6);
  padding: 70px;
  border-collapse: separate;
  height: 70px;
  font-family: 'Just Me Again Down Here', cursive;
}
