html {
  background: url(/images/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-family: 'Monoton', cursive;
}

h2 {
  font-family: 'Covered By Your Grace', cursive;
}

.nav:hover{
  cursor: pointer;
  font-size: 40px;
}

#Home {
  border-radius: 70%;
  background-color: rgba(255,255,255,0.6);
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 65px;
  height: 10px;
  width: 40px;
  text-align: center;
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 27px;
}

#Home:hover{
  cursor: pointer;
  font-size: 25px;
}

table {
  text-align: center;
  border-top: 100px;
}

td {
  font-size: 25px;
  border-radius: 300px;
  background-color: rgba(255,255,255,0.6);
  padding: 70px;
  border-collapse: collapse;
  position: relative;
  height: 70px;
  font-family: 'Just Me Again Down Here', cursive;
}

#Input {
  font-family: 'Coming Soon', cursive;
}
