html {
  background: url(/images/css-pic/graduation.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

td{
  background-color: rgba(255,255,255,0.8);
  padding: 150px;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 100%;
  border-radius: 30px;
  font-family: 'Bangers', cursive;
  line-height: 1cm;
  font-size: 25px;
}
#Home {
  text-decoration: none;
  color: inherit;
  background-color: rgba(255,255,255,0.8);
  width: 10%;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  border-radius: 30px;
  font-family: 'Bangers', cursive;
  text-align: center;
}
a:hover {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}
a:visited {
  color: inherit;
}
