html {
  background: url(pic/holiday.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

td{
  background-color: rgba(255,255,255,0.4);
  padding: 150px;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 100%;
  font-family: 'Chewy', cursive;
  font-size: 28px;
  line-height: 1cm;
  border-radius: 30px;
}
#Home {
  background-color: rgba(255,255,255,0.4);
  width: 10%;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  font-family: 'Chewy', cursive;
  border-radius: 30px;
  margin-left: 50px;
  float: right;
}
a:hover {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}
a:visited {
  color: inherit;
}
