html {
  background: url(pic/random.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

td{
  background-color: rgba(0,0,0,0.7);
  font-weight: bold;
  color: white;
  padding: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  text-align: justify;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  border-radius: 30px;
}
