html {
  background: url(/images/css-pic/Valentines.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#table {
  text-align: right;
  padding-top: 300px;
  padding-top: 50px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 25px;
  background-color: rgba(255,255,255,0.9);
  padding-right: 80px;
  padding-left: 70px;
  padding-bottom: 50px;
 border-radius: 30px;
}
#Home {
  float: right;
  width: 10%;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
}
a:hover {
  font-size: 24px;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
