html {
  background: url(pic/Valentines.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#Home {
  margin: auto;
  text-align: right;
  padding-top: 50px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 25px;
  background-color: rgba(255,255,255,0.9);
  padding-right: 80px;
  padding-left: 70px;
  padding-bottom: 50px;
  border-radius: 30px;
>>>>>>> 22a19602de00a2bb782cb3c34da327e1b65f8419
}
a:hover {
  font-size: 24px;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
