html {
  background: url(pic/Valentines.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#Home {
  margin: auto;
  text-align: right;
  text-align: right;
  padding-top: 80px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
}
a:hover {
  font-size: 24px;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
