html {
  background: url(pic/christmas.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

td{
  background-color: rgba(255,255,255,0.8);
  padding: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 100%;
  font-family: 'Marck Script', cursive;
  line-height: 1cm;
  font-size: 30px;
  border-radius: 30px;
  text-align: justify;
}
#Home {
  background-color: rgba(255,255,255,0.8);
  width: 10%;
  padding:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  font-family: 'Marck Script', cursive;
  border-radius: 30px;
}
a:hover {
  font-size: 24px;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
