<!DOCTYPE html>
<html>
<head>
    <title>Your Card</title>
    <link rel="stylesheet" type="text/css" href="css/anni.css">
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55b92a06201e9687" async="async"></script>
    <center>
    <table id="quote">
      <tr>
        <td><img src="{{ gif_url }}" /></td>
        <td><p> {{ quote or quote1 }}</p></td>
      </tr>
    </table>
    </center>
    <center><p id="Home"><a href="/"> Home </a></p></center>
  </body>
</html>
