<!DOCTYPE html>
<html>
<head>
    <title>Your Card</title>
    <link rel="stylesheet" type="text/css" href="css/getwell-card.css">
    <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <center>
    <table id="quote">
      <tr>
        <td><img src="{{ gif_url }}" /></td>
        <td><p> {{ quote or quote1 }}</p></td>
      </tr>
    </table>
  </center>
  <center><p id="Home"><a href="/"> Home </a></p></center>
  </body>
</html>
