<!DOCTYPE html>
<html>
  <head>
    <title> Arbitrary Card Generator </title>
      <link rel="stylesheet" type="text/css" href="css/design.css">
      <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <center><h1> The A.C.G. </h1></center>
  <center><h2> For all your arbitrary card generating needs. </h2></center>
  <br>

  <center><div id="Home"> Home </div></center>

  <br>
  <center>
  <table id="first">
    <tr>
      <td> <div id="birthd"> Birthday </div> </td>
      <td> <div id="anni"> Anniversary </div> </td>
      <td> <div id="gwell"> Get Well... </div> </td>
      <td> <div id="congra"> Congrats! </div> </td>
      <td> <div id="birth">  Birth  </div> </td>
    </tr>
    <tr>
      <td> <div id="xmas"> Christmas </div> </td>
      <td> <div id="valin"> Valentines </div> </td>
      <td> <div id="grad"> Graduation </div> </td>
      <td> <div id="holi"> Holidays </div> </td>
      <td> <div id="rand"> (random) </div> </td>
      <br>
    </tr>
  </table>
</center>
  <center>
  <div id="Input">
    <div id='fbirthd'>
      <p>Name(s) of Recipeinent(s):</p><input name="bdName"><br>
      <p>Age:</p><input name="bdAge"><br>
      <p>Your Name(s):</p><input name="bdYName"><br>
    </div>

    <div id='fanni'>
      <p>Names of Recipeinents:</p><input name="anniName"><br>
      <p>Years:</p><input name="anniYears"><br>
      <p>Your Name(s):</p><input name="anniYName"><br>
    </div>

    <div id='fgwell'>
      <p>Name(s) of Recipeinent(s):</p><input name="gwName"><br>
      <p>Your Name(s):</p><input name="gwYName"><br>
    </div>

    <div id='fcongra'>
      <p>Name(s) of Recipeinent(s):</p><input name="conName"><br>
      <p>Type of Congradulations:</p><input name="conCongra"><br>
      <p>Your Name(s):</p><input name="conYName"><br>
    </div>

    <div id='fgrad'>
      <p>Name(s) of Recipeinent(s):</p><input name="gradName"><br>
      <p>Year of Graduation:</p><input name="gradYear"><br>
      <p>Your Name(s):</p><input name="gradYName"><br>
    </div>

    <div id='fbirth'>
      <p>Name(s) of Recipeinent(s):</p><input name="birthName"><br>
      <p>Boy or Girl:</p><input name="birthGender"><br>
      <p>Your Name(s):</p><input name="birthYName"><br>
    </div>

    <div id='fxmas'>
      <p>Name(s) of Recipeinent(s):</p><input name="xmasName"><br>
      <p>Your Name(s):</p><input name="gradYName"><br>
    </div>

    <div id='fvalin'>
      <p>Name of Recipeinent:</p><input name="valinName"><br>
      <p>Your Name:</p><input name="valinYName"><br>
    </div>

    <div id='fholi'>
      <p>Name(s) of Recipeinent(s):</p><input name="holiName"><br>
      <p>Name of Holiday:</p><input name="holiType"><br>
      <p>Your Name(s):</p><input name="holiYName"><br>
    </div>

    <div id='frand'>
      <p>Name(s) of Recipeinent(s):</p><input name="randName"><br>
      <p>Your Name(s):</p><input name="randYName"><br>
    </div>
  </div>
  </center>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="js/letters.js"></script>
</body>
</html>
