<!DOCTYPE html>
<html>
  <head>
    <title> Arbitrary Card Generator </title>
      <link rel="stylesheet" type="text/css" href="css/design.css">
      <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <center><h1> The A.C.G. </h1></center>
  <center><h2> For all your arbitrary card generating needs. </h2></center>
  <br>

  <center><div id="Home"> Home </div></center>

  <br>
  <center>

  <table id="first">
    <tr>
      <td> <div class="nav" id="birthd"> Birthday ♛ </div> </td>
      <td> <div class="nav" id="anni"> Anniversary ❀ </div> </td>
      <td> <div class="nav" id="gwell"> Get Well... </div> </td>
      <td> <div class="nav" id="congra"> Congrats! </div> </td>
      <td> <div class="nav" id="birth">  Birth ☃ </div> </td>
    </tr>
    <tr>
      <td> <div class="nav" id="xmas"> Christmas ✯ </div> </td>
      <td> <div class="nav" id="valin"> Valentines ♥  </div> </td>
      <td> <div class="nav" id="grad"> Graduation ✓ </div> </td>
      <td> <div class="nav" id="holi"> Holidays ❆ </div> </td>
      <td> <div class="nav" id="rand"> Random ☣ </div> </td>
      <br>
    </tr>
  </table>
</center>
  <center>
  <div id="Input">
    <div id='fbirthd'>
      <form method="get" action="/bday-card">
        <p>Name(s) of recipient(s):</p><input name="bdName"><br>
        <p>Age:</p><input name="bdAge"><br>
        <p>Your Name(s):</p><input name="bdYName"><br>
      <p><input type="submit"></p>
      </form>
    </div>

    <div id='fanni'>
      <form method="get" action="/anni-card">
        <p>Name(s) of recipient(s):</p><input name="anniName"><br>
        <p>Years:</p><input name="anniYears"><br>
        <p>Your Name(s):</p><input name="anniYName"><br>
      <p><input type="submit"></p>
      </form>
    </div>

    <div id='fgwell'>
      <form method="get" action="/getwell-card">
        <p>Name(s) of recipient(s):</p><input name="gwName"><br>
        <p>Your Name(s):</p><input name="gwYName"><br>
      <p><input type="submit"></p>
      </form>
    </div>

    <div id='fcongra'>
      <form method="get" action="/congrats-card">
        <p>Name(s) of recipient(s):</p><input name="conName"><br>
        <p>Type of Congratulations:</p><input name="conCongra"><br>
        <p>Your Name(s):</p><input name="conYName"><br>
        <p><input type="submit"></p>
      </form>
    </div>

    <div id='fgrad'>
      <form method="get" action="/grad-card"
        <p>Name(s) of recipient(s):</p><input name="gradName"><br>
        <p>Year of Graduation:</p><input name="gradYear"><br>
        <p>Your Name(s):</p><input name="gradYName"><br>
        <p><input type="submit"></p>
      </form>
    </div>

    <div id='fbirth'>
      <form method="get" action="/birth-card">
        <p>Name(s) of recipient(s):</p><input name="birthName"><br>
        <p>Boy or Girl:</p><input name="birthGender"><br>
        <p>Your Name(s):</p><input name="birthYName"><br>
        <p><input type="submit"></p>
      </form>
    </div>

    <div id='fxmas'>
      <form method="get" action="/xmas-card">
        <p>Name(s) of recipient(s):</p><input name="xmasName"><br>
        <p>Your Name(s):</p><input name="xmasYName"><br>
        <p><input type="submit"></p>
      </form>
    </div>

    <div id='fvalin'>
      <form method="get" action="/valin-card"
        <p>Name of recipient:</p><input name="valinName"><br>
        <p>Your Name:</p><input name="valinYName"><br>
        <p><input type="submit"></p>
      </form>
    </div>

    <div id='fholi'>
      <form method="get" action="/holidays-card"
        <p>Name(s) of recipient(s):</p><input name="holiName"><br>
        <p>Name of Holiday:</p><input name="holiType"><br>
        <p>Your Name(s):</p><input name="holiYName"><br>
        <p><input type="submit"></p>
      </form>
    </div>

    <div id='frand'>
      <form method="get" action="/random-card"
        <p>Name(s) of recipient(s):</p><input name="randName"><br>
        <p>Your Name(s):</p><input name="randYName"><br>
        <p><input type="submit"></p>
      </form>
    </div>
  </div>
  <!--<div id="submit">
  <p><input type="submit"></p>-->
  </div>
  </center>

  <br>
  <br>
  <br>

  <center><p> <a href="/html/howto.html">How To</a> | © WHPC 2015. | <a href="/html/about.html">About Us</a></p></center>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="js/letters.js"></script>
</body>
</html>
