<!DOCTYPE html>
<html>
  <head>
    <title> Arbitrary Card Generator </title>
      <link rel="stylesheet" type="text/css" href="css/design.css">
  </head>
  <center><h1> The A.C.G. </h1></center>
  <center><h2> For all your arbitrary card generating needs. </h2></center>
  <body>
  <div id="first">
    <br> <div id="birthd"> Birthday </div>
    <br> <div id="anni"> Anniversary </div>
    <br> <div id="gwell"> Get Well... </div>
    <br> <div id="congra"> Congrats! </div>
    <br> <div id="birth"> Birth </div>
  </div>

  <div id="second">
    <br> <div id="xmas"> Christmas </div>
    <br> <div id="valin"> Valentines </div>
    <br> <div id="grad"> Graduation </div>
    <br> <div id="holi"> Holidays </div>
    <br> <div id="rand"> (random) </div>
  </div>
  </body>
  </html>
