<!DOCTYPE html>
<html>
<head>
    <title>Your Card</title>
    <link rel="stylesheet" type="text/css" href="css/random.css">
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <center>
    <table width="50%">
      <tr>
        <td width="50%"><p> {{ quote or quote1 }}</p></td>
      </tr>
      <tr>
        <td width="50%"><center><img src="{{ gif_url }}" /></center></td>
      </tr>
    </table>
    </center>
    <center><p id="Home"><a href="/"> Home </a></p></center>
  </body>
</html>
