<!DOCTYPE html>
<html>
<head>
    <title>Your Card</title>
    <link rel="stylesheet" type="text/css" href="css/valin.css">
    <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55b92a06201e9687" async="async"></script>
    <table width="65%">
      <tr>
        <td width="35%"><img src="{{ gif_url }}" /></td>
        <td width="30%"><p id="table"> {{ quote or quote1 or quote2 }}</p></td>
      </tr>
    </table>
    <center><p id="Home"><a href="/"> Home </a></p></center>
  </body>
</html>
